body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  color: #264653;
  background-color: white;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: clear;
}

.navigation li {
  float: left;
}
.navigation li a.active {
  background-color:#264653;
  color: white;
}
.navigation a {
  display:block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #264653;
}

header {
  text-align: center;
  background: url('background.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
}
.profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #264653;
  transition: all .5s;
}
.profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.hello {
  background-color: white;
  border: solid 3px yello;
  border-radius: 5%;
  padding: 10px;
  margin: 10px auto;
  width: 200px;
  font-size: 20px;
}

.location {
  background-color: white;
  border: solid 3px#264653;
  border-radius: 10px;
  color: #264653;
  padding: 10px;
  margin: 10px auto;
  width: 100px;
  font-size: 10px;
}

article {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: center;
  background-color:white;
  border: 4px solid #264653;
  border-radius: 6px;
  transition: all .5s;
}

article:hover {
  border-color: yellow;
}

.skills li {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
}

.main {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px;
}

footer li {
  display: inline;
}

.facebook img {
  width: 30px;
  height: 30px;
}

.github img {
  width: 30px;
  height: 30px;
}

.gmail img {
  width: 30px;
  height: 30px;
}